 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>SaaS</h2>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <p>
        Full Stack Serverless Framework, Sagemaker, and Quicksight.
      </p>
    </div>

    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-debian-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>
        Sensor software and hardware prototyping, neural networks, machine learning, artificial intelligence, image processing, data mining, and data analysis.
      </p>
    </div>

    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-sourcetree-plain colored"></i>
      <p>
        Experienced in multiple tools for collaborative programming and software development.
      </p>
    </div>
</div>
