<div class="user-details">
  <h1> Featured Notebooks </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="sample gui" src="{{ "/assets/img/sample-thesis-gui.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Neural Networks Project: EZWin </h3>
    <ul>
      <li> Neural Networks </li>
      <li> Dense Networks </li>
      <li> Machine Learning </li>
    </ul>
    <p> One of several outputs of my Neural Networks class. I took it as an opportunity to have some fun in machine learning and data analysis by injecting data from video games. </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
