<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/sample-thesis-gui.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h2> Portable Yellow Spot Disease Identifier on Sugarcane Leaf via Image Processing Using Support Vector Machine </h2>
    <ul>
      <li> Image Processing </li>
      <li> Machine Learning </li>
      <li> Linear SVM </li>
    </ul>
    <p>Undergraduate published thesis/conference paper presented in International Conference on Control, Automation and Robotics (ICCAR). Handled both software, hardware, and writing aspect of the study. </p>
    <a class="project-link" href="https://ieeexplore.ieee.org/document/8813495">Check it out</a>
  </div>
</div>
<!---
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
--->
