h3.fix{
	margin-top:0px;
	padding-top:0px;
}

.fix_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.images-right{
	margin-bottom:20px;
}


@media only screen and (min-width: 550px){
	.fix_section {
	    width: 80%;
	}

	
}